.bookRow {
	margin-bottom: 1em;
	padding-top: 1em;
	background-color: #F6F6F6;
	color: #222222;
	border-radius: 4px;
}

h3 {
	margin-top: 0;
}

body {
	background-color: #222222;
	color: #F6F6F6;
}

.row {
	margin-bottom: .5em;
}

.genreList {
	padding-left: 0;
}

.genreList li {
	margin-bottom: .2em;
}

.breadRow {
	margin-bottom: 0;
}

.rating {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

.rating-5 .rating { color:#5cb85c; }
.rating-4 .rating { color:#5cb85c; }
.rating-3 .rating { color:#f0ad4e; }
.rating-2 .rating { color:#d9534f; }
.rating-1 .rating { color:#d9534f; }

.btn-xs {
	margin-bottom: 1em;
}