<div class="row">
  <div class="col-sm-12">
      <form>
        <div class="col-sm-1">
          <label class="inline left">Search</label>
        </div>
        <div class="col-sm-4">
          <input type="text" value='' name='keyword' placeholder='Keyword' />
        </div>
      </form>
  </div>  
</div>
<div class="row">
  <div class="col-sm-12">
    <a href="#" class="btn btn-primary" id="showForm">New Book Form</a>
  </div>
</div>
<div class="row bookForm">
  {{!-- <%= render 'form' %> --}}
</div>

  <div class="row">
    <div class="col-sm-10 bookList">
     {{#each book in books}}
     	{{render '-partials/book' book}}
     {{/each}}
    </div>
    <div class="col-sm-2">
        <h3>Genres</h3>
        <ul>
         {{#each genre in genres}}
           <li class="label">{{genre.name}}</li>
         {{/each}}
        </ul>
    </div>
  </div>
<br>

