<div class="row breadRow">
  <ol class="breadcrumb">
    <li class="active">Books</li>
  </ol>
</div>
<div class="row">
  <div class="col-sm-2">
    <a href="#" class="btn btn-primary" id="showForm">New Book Form</a>
  </div>
  <div class="col-sm-10">
      <form class="form-inline">
        <div class="form-group">
          <label for="keyword">Search</label>
          <input type="text" class="form-control" value='' name='keyword' placeholder='Keyword' />
        </div>
      </form>
  </div>  
</div>
<div class="row bookForm">
  {{!-- <%= render 'form' %> --}}
</div>

  <div class="row">
    <div class="col-sm-10 bookList">
     {{#each book in orderedBooks}}
     	{{book-detail book=book}}
     {{/each}}
    </div>
    <div class="col-sm-2">
        <h3>Genres</h3>
        <ul class="genreList">
         {{#each genre in genres}}
           <li class="btn btn-primary btn-sm">{{genre.name}}</li>
         {{/each}}
        </ul>
    </div>
  </div>
<br>

